In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [74]:
#Ödev 1

#İndeks ve harfleri oluşturma

import string
string.ascii_lowercase
harf = list(string.ascii_lowercase[:10])


tablom = pd.DataFrame(index=harf)
tablom.index.name = 'Harfler'


# Asal Sayıları oluşturma ve tabloya ekleme

primes = []
for possiblePrime in range(2, 100):
    
    isPrime = True
    for num in range(2, possiblePrime):
        if possiblePrime % num == 0:
            isPrime = False
      
    if isPrime:
        primes.append(possiblePrime)
    
primes2 = primes[0:10]


Asals = pd.DataFrame(primes2)
Asals

tablom['asal'] = primes2


# Fibonacci sayılarını oluşturma ve tabloya ekleme

a = 0
b = 1
Next = 0

fibonacci = []

for Num in range(0, 100):
    if Next > 100:
        break
    else:
        fibonacci.append(Next)

    if(Num <= 1):
            Next = Num
    else:
            Next = a + b
            a = b
            b = Next
fibonacci2 = fibonacci[0:10]

tablom['fibonacci'] = fibonacci2
tablom

# istiklal marşı & kapanış 
# yapmakta zorlandığım şey ilk 10'u almak oldu, o yüzden hep list2 ler yaptım [0:10] şeklinde. eminim daha kolayı
#vardır

         asal  fibonacci
Harfler
a           2          0
b           3          0
c           5          1
d           7          1
e          11          2
f          13          3
g          17          5
h          19          8
i          23         13
j          29         21

In [75]:
kaggle competitions download -c titanic

SyntaxError: invalid syntax (<ipython-input-75-5bd42c35ba8c>, line 1)

In [6]:
# Ödev 2

df = pd.read_csv('train.csv', index_col=0)

df.groupby(by='Sex').mean()['Age']

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [68]:
#Ödev 3

# istediğim gibi sonuç alamıyorum, doğrudan yüzde nasıl alırım yapamadım :/

train = pd.read_csv('train.csv', index_col=0)

df = train[train['Age'] < 30.0]

df["Survived"].value_counts()

dx = train.groupby('Sex')

dx["Survived"].value_counts()

Sex     Survived
female  1           233
        0            81
male    0           468
        1           109
Name: Survived, dtype: int64